.pageTitle {
  padding-block: var(--space-12) var(--space-4);
}

.pageTitle h1 {
  margin: 0;
  font-size: var(--text-2xl);
}

@media (min-width: 56rem) {
  .pageTitle {
    padding-top: var(--space-16);
  }

  .pageTitle h1 {
    font-size: var(--text-3xl);
  }
}
